{% extends 'base.html' %}

{% block content %}

	<div class="jumbotron fluid mb-5">
		<div class="container">
			<h1 class="display-4">Welcome to Crypto News</h1>
			<p class="lead">Your Source For Up To The Minute Crypto Currency and Blockchain News</p>
		</div>
	</div>

	<div class="container mb-5">
		<table class="table table-striped table-bordered table-hover table-responsive-sm">
		  <thead>
		    <tr>
		      <th scope="col">Name</th>
		      <th scope="col">Price</th>
		      <th scope="col">24hr High</th>
		      <th scope="col">24hr Low</th>
		      <th scope="col">Market Cap</th>
		    </tr>
		  </thead>
			<tbody>
		{% for key,value in price.DISPLAY.items %}

		    <tr>
		      <td>{{ key }}</td>
		      <td>{{ value.USD.PRICE }}</td>
		      <td>{{ value.USD.HIGHDAY }}</td>
		      <td>{{ value.USD.LOWDAY }}</td>
		      <td>{{ value.USD.MKTCAP }}</td>
		    </tr>

			{% endfor %}

		  </tbody>
		</table>
	</div>

	<div class="container">
		<div class="container">
			<div class="row">
				{% for x in news.Data %}
					<div class="col-sm mb-5">
						<div class="card" style="width: 18rem;">
						  <img class="card-img-top" src="{{ x.imageurl }}" alt="{{ x.source }}">
						  <div class="card-body">
						    <h5 class="card-title">{{ x.title }}</h5>
						    <p class="card-text">{{ x.body }}</p>
						    <a href="{{ x.url }}" class="btn btn-secondary" target="_blank">Read More...</a>
						  </div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>


<!-- 	{{ api.Data }} -->

{% endblock %}
